* {
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bgColor {
    background-color:   #232827;
    color: white;
}

.bgColorWhite {
    background-color: #B1E0D5;
    color: black;
}

nav {
    background-color: #00AA82;
    color: white;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
}

nav h2 {
    margin-left: 15px;
    background-color: #00AA82;
}

nav i {
    background-color: #00AA82;
    margin-right: 25px;
}

#textError {
    color: rgb(140, 0, 0);
}

.display-none {
    display: none;
}

.display {
    display: block;
    margin: auto auto;
    text-align: center;
}

.title {
    font-size: 48px;
    max-width: 800px;
    margin-top: 130px;
    margin-bottom: 50px;
}


.buttonSearch {
    background-color: #00AA82;
    border-radius: 100px;
    margin-top: 10px;
    display: block;
    padding: 20px 10.5%;
    border: 1px solid #00AA82;
    color: white;
}

.buttonSearch:hover {
    cursor: pointer;
    opacity: 90%;
}
.lineaBlack {
    background-color: white;
}

.lineaWhite {
    background-color: black;
}

.linea {
    width: 40%;
    border: 0;
    height: 1px;
    margin-top: 200px;
    margin-bottom: 100px;
    opacity: 50%;
}

.allPokemon {
    text-align: center;
}

#pokemonStats {
    table-layout: fixed;
    width: 30%;
    border: 3px solid black;
    border-radius: 10px;
    margin: auto auto;

}

td {
    border-left: 5px solid black;
    padding: 10px;
}

